PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-10-03 05:31:00.731183');
INSERT INTO django_migrations VALUES(2,'contenttypes','0002_remove_content_type_name','2025-10-03 05:31:00.930550');
INSERT INTO django_migrations VALUES(3,'auth','0001_initial','2025-10-03 05:31:01.361059');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$600000$xdOGrl02yJpPalQz9Md3Mc$qErfM89m7yftY/oIqKs7SKq0K+NareKiwV6GElLU8+g=','2025-10-03 06:07:05.874727',1,'dydx','','dydx001@gmail.com',1,1,'2025-10-03 05:48:27.770584','');
CREATE TABLE IF NOT EXISTS "accounts_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "subscription_level" varchar(20) NOT NULL, "referral_code" varchar(20) NOT NULL UNIQUE, "is_verified" bool NOT NULL, "date_updated" datetime NOT NULL);
INSERT INTO accounts_user VALUES(1,'pbkdf2_sha256$600000$ePLdyjwKvUPMMfp5p3cuMV$apu4KRGcvIV9vhe2XtPwDkXKqlEsn4cWk/5LYdNYFl8=','2025-10-03 18:16:58.317299',1,'info','','','info@gmail.com',1,1,'2025-10-03 06:19:21.715482','starter','WMU2OYJL',0,'2025-10-03 06:19:22.953238');
INSERT INTO accounts_user VALUES(2,'pbkdf2_sha256$600000$M3FNESb1JnfFWxdxIi3Pse$yoGpf2EFK5clFcAq6M+DuGXlh5MCx9i3ZUkmCCsoStA=','2025-10-03 23:46:05.043766',0,'dydx','Yusuf','Ayomide','Yusufvabdullah001@gmail.com',0,1,'2025-10-03 18:44:36.034890','starter','5UJIC62D',0,'2025-10-03 18:44:37.400345');
INSERT INTO accounts_user VALUES(3,'pbkdf2_sha256$600000$7VB4YjmSkIf5tKW28x871j$jExn0bDysl7ANhWJ2pqnjqIvRkP+hoOIXhu51H2fht4=','2025-10-03 23:11:55.258614',1,'infograb','','','infograb@gmail.com',1,0,'2025-10-03 18:50:22.885170','starter','RHG6LUWF',0,'2025-10-03 23:21:35.384873');
CREATE TABLE IF NOT EXISTS "accounts_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "accounts_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "accounts_userprofile" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "bio" text NOT NULL, "profile_picture" varchar(100) NULL, "country" varchar(100) NOT NULL, "phone_number" varchar(20) NOT NULL, "date_joined" datetime NOT NULL, "referred_by_id" bigint NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL UNIQUE REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO accounts_userprofile VALUES(1,'','','','','2025-10-03 06:19:23.148064',NULL,1);
INSERT INTO accounts_userprofile VALUES(2,'Wonderfully Made Man','profile_pics/InShot_20241129_131536365222.jpg','Nigeria','09055449242','2025-10-03 18:44:37.648466',NULL,2);
INSERT INTO accounts_userprofile VALUES(3,'A gentle man to the core','profile_pics/batch_218964331_356737129356709_1180732076552714248_n_1.jpg','Nigeria','09041759174','2025-10-03 18:50:24.118278',NULL,3);
CREATE TABLE IF NOT EXISTS "accounts_cryptowallet" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "crypto_type" varchar(10) NOT NULL, "wallet_address" varchar(255) NOT NULL, "network" varchar(50) NOT NULL, "is_primary" bool NOT NULL, "created_at" datetime NOT NULL, "user_id" bigint NOT NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO accounts_cryptowallet VALUES(1,'usdt','3434q5u54g6u3h5yhy','TRC20',1,'2025-10-03 23:49:47.282831',2);
CREATE TABLE IF NOT EXISTS "accounts_bankaccount" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "bank_name" varchar(100) NOT NULL, "account_number" varchar(20) NOT NULL, "account_name" varchar(100) NOT NULL, "account_type" varchar(10) NOT NULL, "is_primary" bool NOT NULL, "is_verified" bool NOT NULL, "created_at" datetime NOT NULL, "user_id" bigint NOT NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO accounts_bankaccount VALUES(1,'First Bank','8033220011','Joseph Henry','savings',1,0,'2025-10-03 23:47:12.936435',2);
INSERT INTO accounts_bankaccount VALUES(2,'First Bank','8033220011','Joseph Henry','current',1,0,'2025-10-04 19:41:35.849442',6);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "payments_paymentmethod" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL, "is_active" bool NOT NULL, "config" text NOT NULL CHECK ((JSON_VALID("config") OR "config" IS NULL)));
CREATE TABLE IF NOT EXISTS "payments_transaction" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "transaction_type" varchar(20) NOT NULL, "amount" decimal NOT NULL, "currency" varchar(3) NOT NULL, "status" varchar(20) NOT NULL, "reference" varchar(100) NOT NULL UNIQUE, "description" text NOT NULL, "metadata" text NOT NULL CHECK ((JSON_VALID("metadata") OR "metadata" IS NULL)), "rejection_reason" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "completed_at" datetime NULL, "payment_method_id" bigint NULL REFERENCES "payments_paymentmethod" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "affiliates_referral" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "joined_at" datetime NOT NULL, "is_active" bool NOT NULL, "referred_user_id" integer NOT NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "referrer_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "affiliates_affiliatesale" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "commission_amount" decimal NOT NULL, "commission_rate" decimal NOT NULL, "status" varchar(20) NOT NULL, "created_at" datetime NOT NULL, "paid_at" datetime NULL, "referral_id" bigint NOT NULL REFERENCES "affiliates_referral" ("id") DEFERRABLE INITIALLY DEFERRED, "sale_id" bigint NOT NULL REFERENCES "payments_transaction" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "blog_category" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL UNIQUE, "description" text NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "blog_tag" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL UNIQUE, "created_at" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "blog_blogpost" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "slug" varchar(200) NOT NULL UNIQUE, "content" text NOT NULL, "excerpt" text NOT NULL, "featured_image" varchar(100) NULL, "status" varchar(20) NOT NULL, "rejection_reason" text NOT NULL, "is_featured" bool NOT NULL, "views_count" integer unsigned NOT NULL CHECK ("views_count" >= 0), "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "published_at" datetime NULL, "author_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "category_id" bigint NULL REFERENCES "blog_category" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "blog_blogpost_likes" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "blogpost_id" bigint NOT NULL REFERENCES "blog_blogpost" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "blog_blogpost_tags" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "blogpost_id" bigint NOT NULL REFERENCES "blog_blogpost" ("id") DEFERRABLE INITIALLY DEFERRED, "tag_id" bigint NOT NULL REFERENCES "blog_tag" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "blog_blogcomment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content" text NOT NULL, "is_approved" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "author_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "post_id" bigint NOT NULL REFERENCES "blog_blogpost" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "blog_savedarticle" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "saved_at" datetime NOT NULL, "post_id" bigint NOT NULL REFERENCES "blog_blogpost" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "courses_coursecategory" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL UNIQUE, "description" text NOT NULL, "is_active" bool NOT NULL);
CREATE TABLE IF NOT EXISTS "courses_promocode" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "code" varchar(50) NOT NULL UNIQUE, "discount_percent" decimal NOT NULL, "discount_amount" decimal NOT NULL, "max_uses" integer unsigned NOT NULL CHECK ("max_uses" >= 0), "used_count" integer unsigned NOT NULL CHECK ("used_count" >= 0), "valid_until" datetime NOT NULL, "is_active" bool NOT NULL);
CREATE TABLE IF NOT EXISTS "courses_enrollment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "enrolled_at" datetime NOT NULL, "status" varchar(20) NOT NULL, "final_price" decimal NOT NULL, "course_id" bigint NOT NULL REFERENCES "courses_course" ("id") DEFERRABLE INITIALLY DEFERRED, "promo_code_used_id" bigint NULL REFERENCES "courses_promocode" ("id") DEFERRABLE INITIALLY DEFERRED, "student_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "dashboard_jobcategory" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL UNIQUE, "description" text NOT NULL, "is_active" bool NOT NULL);
CREATE TABLE IF NOT EXISTS "dashboard_job" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "description" text NOT NULL, "job_type" varchar(20) NOT NULL, "location" varchar(100) NOT NULL, "company_name" varchar(100) NOT NULL, "salary_min" decimal NOT NULL, "salary_max" decimal NOT NULL, "deadline" datetime NOT NULL, "spots_total" integer unsigned NOT NULL CHECK ("spots_total" >= 0), "spots_left" integer unsigned NOT NULL CHECK ("spots_left" >= 0), "level_requirement" varchar(20) NOT NULL, "price" decimal NOT NULL, "status" varchar(20) NOT NULL, "rejection_reason" text NOT NULL, "views_count" integer unsigned NOT NULL CHECK ("views_count" >= 0), "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "category_id" bigint NOT NULL REFERENCES "dashboard_jobcategory" ("id") DEFERRABLE INITIALLY DEFERRED, "posted_by_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "dashboard_job_favorites" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "job_id" bigint NOT NULL REFERENCES "dashboard_job" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "jobs_jobcategory" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL UNIQUE, "description" text NOT NULL, "is_active" bool NOT NULL);
CREATE TABLE IF NOT EXISTS "jobs_job_favorites" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "job_id" bigint NOT NULL REFERENCES "jobs_job" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "mentorship_mentorshipoffer" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "description" text NOT NULL, "expertise_area" varchar(100) NOT NULL, "price_per_hour" decimal NOT NULL, "subscription_requirement" varchar(20) NOT NULL, "max_students" integer unsigned NOT NULL CHECK ("max_students" >= 0), "current_students" integer unsigned NOT NULL CHECK ("current_students" >= 0), "is_available" bool NOT NULL, "status" varchar(20) NOT NULL, "rejection_reason" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "mentor_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "mentorship_mentorshipapplication" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "requested_duration" integer unsigned NOT NULL CHECK ("requested_duration" >= 0), "total_amount" decimal NOT NULL, "status" varchar(20) NOT NULL, "application_message" text NOT NULL, "rejection_reason" text NOT NULL, "applied_at" datetime NOT NULL, "approved_at" datetime NULL, "completed_at" datetime NULL, "applicant_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "mentorship_offer_id" bigint NOT NULL REFERENCES "mentorship_mentorshipoffer" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "pricing_subscriptionplan" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(20) NOT NULL UNIQUE, "description" text NOT NULL, "price" decimal NOT NULL, "duration_days" integer unsigned NOT NULL CHECK ("duration_days" >= 0), "features" text NOT NULL CHECK ((JSON_VALID("features") OR "features" IS NULL)), "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "pricing_subscriptionpurchase" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "amount_paid" decimal NOT NULL, "status" varchar(20) NOT NULL, "start_date" datetime NULL, "end_date" datetime NULL, "purchased_at" datetime NOT NULL, "plan_id" bigint NOT NULL REFERENCES "pricing_subscriptionplan" ("id") DEFERRABLE INITIALLY DEFERRED, "transaction_id" bigint NULL UNIQUE REFERENCES "payments_transaction" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "products_productcategory" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL UNIQUE, "description" text NOT NULL, "is_active" bool NOT NULL);
CREATE TABLE IF NOT EXISTS "products_productsale" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "sale_price" decimal NOT NULL, "commission_amount" decimal NOT NULL, "admin_fee" decimal NOT NULL, "net_amount" decimal NOT NULL, "status" varchar(20) NOT NULL, "purchased_at" datetime NOT NULL, "license_key" varchar(100) NOT NULL, "download_count" integer unsigned NOT NULL CHECK ("download_count" >= 0), "buyer_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "product_id" bigint NOT NULL REFERENCES "products_product" ("id") DEFERRABLE INITIALLY DEFERRED, "seller_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('hg201um0ldad53agn59snh878vy45upm','.eJxVjEEOwiAQRe_C2hA6AwVcuvcMZIBBqoYmpV0Z765NutDtf-_9lwi0rTVsnZcwZXEWIE6_W6T04LaDfKd2m2Wa27pMUe6KPGiX1znz83K4fweVev3WtoBFyHEAYh_Hoq0zDjI6jwmLLgrBcTTsxzQweUOaMYJXYBQnhUW8P9nYN6k:1v4kuy:3Anu-vYj3IOtceWFQyn5sjZ5oqfZadrSQ3o0I4Vqoi8','2025-10-17 18:54:12.366922');
INSERT INTO django_session VALUES('hr8kg7alaxu46mk075t6nonsx4jsu5t6','.eJxVjDkOwjAUBe_iGlmx8fJNSc8Zor-BA8iRslSIu0OkFNC-mXkv0-O61H6ddeoHMSfjzeF3I-SHtg3IHdtttDy2ZRrIbord6Wwvo-jzvLt_BxXn-q2RhPgKkWInEJgEAxQRKgSAHJOSQ-ePyaFmLTlH9gzJg6ZILrjOvD8gjziT:1v4lAz:_gZQvMHp6wjOOROlra_cNJzXb3JX3On9F7Gh4wbFeVs','2025-10-17 19:10:45.525360');
INSERT INTO django_session VALUES('gpn7zdqk9q80o36obrg5lli3u3velniz','.eJxVjMEOwiAQRP-FsyFlAakevfsNzcLuStVAUtqT8d-VpAc9zrw381ITbmuetsbLNJM6K1CH3y5ienDpgO5YblWnWtZljroreqdNXyvx87K7fwcZW_6ujRkpBQMnJgjBekAfKIrEhEF4ACveixcbXULnLAMcaRwIeg5irHp_AO9uOFY:1v4lzw:w8g3JT5Zr8YpWTvEZiElLexP9b-TrpIgbIP7N5oNcs8','2025-10-17 20:03:24.344623');
CREATE TABLE IF NOT EXISTS "transactions_notification" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "notification_type" varchar(20) NOT NULL, "title" varchar(200) NOT NULL, "message" text NOT NULL, "is_read" bool NOT NULL, "related_object_id" integer unsigned NULL CHECK ("related_object_id" >= 0), "related_content_type" varchar(100) NOT NULL, "created_at" datetime NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "products_productimage" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "image" varchar(100) NOT NULL, "caption" varchar(200) NOT NULL, "order" integer unsigned NOT NULL CHECK ("order" >= 0), "created_at" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "products_promocode" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "code" varchar(50) NOT NULL UNIQUE, "discount_percent" decimal NOT NULL, "discount_amount" decimal NOT NULL, "max_uses" integer unsigned NOT NULL CHECK ("max_uses" >= 0), "used_count" integer unsigned NOT NULL CHECK ("used_count" >= 0), "valid_until" datetime NOT NULL, "is_active" bool NOT NULL);
CREATE TABLE IF NOT EXISTS "products_product_gallery_images" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "product_id" bigint NOT NULL REFERENCES "products_product" ("id") DEFERRABLE INITIALLY DEFERRED, "productimage_id" bigint NOT NULL REFERENCES "products_productimage" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "site_core_adminnotification" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "message" text NOT NULL, "notification_type" varchar(20) NOT NULL, "action_url" varchar(200) NOT NULL, "action_text" varchar(50) NOT NULL, "is_active" bool NOT NULL, "show_popup" bool NOT NULL, "start_date" datetime NOT NULL, "end_date" datetime NOT NULL, "created_at" datetime NOT NULL);
INSERT INTO site_core_adminnotification VALUES(1,'Do not miss! Free N5000 to new users','This is to notify all our members that there will be a 50% discount in our withdrawal fee. A chance for everyone!','success','https://wa.me/2349041759174','Grab Now',1,1,'2025-10-22 00:52:00','2025-10-09 00:52:00','2025-10-03 23:56:05.956057');
CREATE TABLE IF NOT EXISTS "site_core_sitesetting" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "currency" varchar(3) NOT NULL, "currency_rate" decimal NOT NULL, "add_money_fee_pct" decimal NOT NULL, "transfer_fee_pct" decimal NOT NULL, "withdraw_fee_pct" decimal NOT NULL, "mentorship_fee_pct" decimal NOT NULL, "default_commission_pct" decimal NOT NULL, "pause_course_uploading" bool NOT NULL, "pause_gigs_uploading" bool NOT NULL, "pause_affiliates" bool NOT NULL, "site_title" varchar(200) NOT NULL, "site_description" text NOT NULL, "contact_email" varchar(254) NOT NULL, "legal_text" text NOT NULL, "default_subscription_prices" text NOT NULL CHECK ((JSON_VALID("default_subscription_prices") OR "default_subscription_prices" IS NULL)), "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "deposit_mode" varchar(10) NOT NULL, "manual_account_name" varchar(100) NOT NULL, "manual_account_number" varchar(20) NOT NULL, "manual_bank_name" varchar(100) NOT NULL, "monnify_api_key" varchar(255) NOT NULL, "monnify_secret_key" varchar(255) NOT NULL, "paystack_public_key" varchar(255) NOT NULL, "paystack_secret_key" varchar(255) NOT NULL, "withdrawal_mode" varchar(10) NOT NULL);
INSERT INTO site_core_sitesetting VALUES(1,'NGN',1,1.5,0.5,2,10,20,0,0,0,'Vinaji NG','','support@vinaji.com','','{}','2025-10-03 06:21:25.485725','2025-10-03 06:21:25.485725','manual','','','','','','','','manual');
CREATE TABLE IF NOT EXISTS "site_core_category" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "category_type" varchar(10) NOT NULL, "description" text NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL);
INSERT INTO site_core_category VALUES(1,'Financing','job','This is a category meant for finance industry.',1,'2025-10-04 00:05:59.938949');
INSERT INTO site_core_category VALUES(2,'SEMRUSH','course','good',1,'2025-10-04 00:32:07.423335');
INSERT INTO site_core_category VALUES(3,'Milks','product','A good product defined a good heart',1,'2025-10-04 01:33:20.558622');
CREATE TABLE IF NOT EXISTS "courses_course" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "description" text NOT NULL, "level" varchar(20) NOT NULL, "duration" integer unsigned NOT NULL CHECK ("duration" >= 0), "mode" varchar(20) NOT NULL, "start_date" datetime NOT NULL, "is_self_paced" bool NOT NULL, "price" decimal NOT NULL, "spots_total" integer unsigned NOT NULL CHECK ("spots_total" >= 0), "spots_left" integer unsigned NOT NULL CHECK ("spots_left" >= 0), "preview_video" varchar(200) NOT NULL, "thumbnail" varchar(100) NULL, "status" varchar(20) NOT NULL, "rejection_reason" text NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "instructor_id" bigint NOT NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "category_id" bigint NOT NULL REFERENCES "site_core_category" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO courses_course VALUES(1,'433 wg','aV RG A','beginner',4,'online','2025-10-04 03:12:00',0,4444,4,1,'https://youtube.com/dydx_sample','','pending','','2025-10-04 01:12:13.794390','2025-10-04 01:12:13.794390',6,2);
INSERT INTO courses_course VALUES(2,'433 wg','aV RG A','beginner',4,'online','2025-10-04 03:12:00',0,4444,4,1,'https://youtube.com/dydx_sample','','pending','','2025-10-04 01:12:13.788394','2025-10-04 01:12:13.788394',6,2);
INSERT INTO courses_course VALUES(3,'Web Development Course For Beginners','This course takes you through the big progress.','beginner',24,'online','2025-10-04 20:03:00',0,400000,30,1,'https://youtube.com/dydx_sample','course_thumbnails/Screenshot_2024-10-22_143325.png','pending','','2025-10-04 19:04:32.394452','2025-10-04 19:04:32.394452',6,2);
CREATE TABLE IF NOT EXISTS "jobs_job" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "description" text NOT NULL, "job_type" varchar(20) NOT NULL, "location" varchar(100) NOT NULL, "company_name" varchar(100) NOT NULL, "salary_min" decimal NOT NULL, "salary_max" decimal NOT NULL, "deadline" datetime NOT NULL, "spots_total" integer unsigned NOT NULL CHECK ("spots_total" >= 0), "spots_left" integer unsigned NOT NULL CHECK ("spots_left" >= 0), "level_requirement" varchar(20) NOT NULL, "price" decimal NOT NULL, "status" varchar(20) NOT NULL, "rejection_reason" text NOT NULL, "views_count" integer unsigned NOT NULL CHECK ("views_count" >= 0), "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "posted_by_id" bigint NOT NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "company_logo" varchar(100) NULL, "category_id" bigint NOT NULL REFERENCES "site_core_category" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "products_product" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(200) NOT NULL, "description" text NOT NULL, "license_type" varchar(20) NOT NULL, "version" varchar(20) NOT NULL, "price" decimal NOT NULL, "product_file" varchar(100) NOT NULL, "sample_file" varchar(100) NULL, "thumbnail" varchar(100) NULL, "status" varchar(20) NOT NULL, "rejection_reason" text NOT NULL, "views_count" integer unsigned NOT NULL CHECK ("views_count" >= 0), "download_count" integer unsigned NOT NULL CHECK ("download_count" >= 0), "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "seller_id" bigint NOT NULL REFERENCES "accounts_user" ("id") DEFERRABLE INITIALLY DEFERRED, "features" text NOT NULL, "tags" varchar(500) NOT NULL, "category_id" bigint NOT NULL REFERENCES "site_core_category" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO products_product VALUES(1,'Premium Wordpress Theme','This theme is a fantastic theme for all users under my control','commercial','1.0',500,'product_files/Document11.pdf','sample_files/Google_AI_Studio_2025-07-18T16_43_07.382Z.png','product_thumbnails/InShot_20241129_131536365.jpg','pending','',0,0,'2025-10-04 19:13:47.223422','2025-10-04 19:13:47.223422',6,'','',3);
INSERT INTO sqlite_sequence VALUES('django_migrations',37);
INSERT INTO sqlite_sequence VALUES('django_content_type',40);
INSERT INTO sqlite_sequence VALUES('auth_permission',160);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE UNIQUE INDEX "accounts_user_groups_user_id_group_id_59c0b32f_uniq" ON "accounts_user_groups" ("user_id", "group_id");
CREATE INDEX "accounts_user_groups_user_id_52b62117" ON "accounts_user_groups" ("user_id");
CREATE INDEX "accounts_user_groups_group_id_bd11a704" ON "accounts_user_groups" ("group_id");
CREATE UNIQUE INDEX "accounts_user_user_permissions_user_id_permission_id_2ab516c2_uniq" ON "accounts_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "accounts_user_user_permissions_user_id_e4f0a161" ON "accounts_user_user_permissions" ("user_id");
CREATE INDEX "accounts_user_user_permissions_permission_id_113bb443" ON "accounts_user_user_permissions" ("permission_id");
CREATE INDEX "accounts_userprofile_referred_by_id_376f5a53" ON "accounts_userprofile" ("referred_by_id");
CREATE UNIQUE INDEX "accounts_cryptowallet_user_id_wallet_address_a76d7942_uniq" ON "accounts_cryptowallet" ("user_id", "wallet_address");
CREATE INDEX "accounts_cryptowallet_user_id_ead62220" ON "accounts_cryptowallet" ("user_id");
CREATE UNIQUE INDEX "accounts_bankaccount_user_id_account_number_a6ffeb4c_uniq" ON "accounts_bankaccount" ("user_id", "account_number");
CREATE INDEX "accounts_bankaccount_user_id_a50ca531" ON "accounts_bankaccount" ("user_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE INDEX "payments_transaction_payment_method_id_f053ab03" ON "payments_transaction" ("payment_method_id");
CREATE INDEX "payments_transaction_user_id_ca456f41" ON "payments_transaction" ("user_id");
CREATE INDEX "payments_tr_user_id_b99a80_idx" ON "payments_transaction" ("user_id", "status");
CREATE INDEX "payments_tr_referen_530efe_idx" ON "payments_transaction" ("reference");
CREATE INDEX "payments_tr_created_02ae92_idx" ON "payments_transaction" ("created_at");
CREATE UNIQUE INDEX "affiliates_referral_referrer_id_referred_user_id_ec74b9f4_uniq" ON "affiliates_referral" ("referrer_id", "referred_user_id");
CREATE INDEX "affiliates_referral_referrer_id_fc0dfd05" ON "affiliates_referral" ("referrer_id");
CREATE INDEX "affiliates_affiliatesale_referral_id_96acca12" ON "affiliates_affiliatesale" ("referral_id");
CREATE INDEX "affiliates_affiliatesale_sale_id_cfd87ce0" ON "affiliates_affiliatesale" ("sale_id");
CREATE INDEX "blog_blogpost_author_id_ffcc150f" ON "blog_blogpost" ("author_id");
CREATE INDEX "blog_blogpost_category_id_0e9835dd" ON "blog_blogpost" ("category_id");
CREATE UNIQUE INDEX "blog_blogpost_likes_blogpost_id_user_id_b498480f_uniq" ON "blog_blogpost_likes" ("blogpost_id", "user_id");
CREATE INDEX "blog_blogpost_likes_blogpost_id_58f09903" ON "blog_blogpost_likes" ("blogpost_id");
CREATE INDEX "blog_blogpost_likes_user_id_74889c39" ON "blog_blogpost_likes" ("user_id");
CREATE UNIQUE INDEX "blog_blogpost_tags_blogpost_id_tag_id_657ed214_uniq" ON "blog_blogpost_tags" ("blogpost_id", "tag_id");
CREATE INDEX "blog_blogpost_tags_blogpost_id_cdcddf6c" ON "blog_blogpost_tags" ("blogpost_id");
CREATE INDEX "blog_blogpost_tags_tag_id_680e7081" ON "blog_blogpost_tags" ("tag_id");
CREATE INDEX "blog_blogcomment_author_id_ce11ddad" ON "blog_blogcomment" ("author_id");
CREATE INDEX "blog_blogcomment_post_id_f2a3e760" ON "blog_blogcomment" ("post_id");
CREATE UNIQUE INDEX "blog_savedarticle_user_id_post_id_b47098fd_uniq" ON "blog_savedarticle" ("user_id", "post_id");
CREATE INDEX "blog_savedarticle_post_id_26b13fac" ON "blog_savedarticle" ("post_id");
CREATE INDEX "blog_savedarticle_user_id_2d7a6e78" ON "blog_savedarticle" ("user_id");
CREATE UNIQUE INDEX "courses_enrollment_course_id_student_id_46471c5a_uniq" ON "courses_enrollment" ("course_id", "student_id");
CREATE INDEX "courses_enrollment_course_id_2631503e" ON "courses_enrollment" ("course_id");
CREATE INDEX "courses_enrollment_promo_code_used_id_51601f59" ON "courses_enrollment" ("promo_code_used_id");
CREATE INDEX "courses_enrollment_student_id_aebf8536" ON "courses_enrollment" ("student_id");
CREATE INDEX "dashboard_job_category_id_2298c354" ON "dashboard_job" ("category_id");
CREATE INDEX "dashboard_job_posted_by_id_2fdd723e" ON "dashboard_job" ("posted_by_id");
CREATE UNIQUE INDEX "dashboard_job_favorites_job_id_user_id_ffa151e1_uniq" ON "dashboard_job_favorites" ("job_id", "user_id");
CREATE INDEX "dashboard_job_favorites_job_id_8513f05f" ON "dashboard_job_favorites" ("job_id");
CREATE INDEX "dashboard_job_favorites_user_id_bb2f2484" ON "dashboard_job_favorites" ("user_id");
CREATE UNIQUE INDEX "jobs_job_favorites_job_id_user_id_9c5d8358_uniq" ON "jobs_job_favorites" ("job_id", "user_id");
CREATE INDEX "jobs_job_favorites_job_id_c67f1186" ON "jobs_job_favorites" ("job_id");
CREATE INDEX "jobs_job_favorites_user_id_5847a61b" ON "jobs_job_favorites" ("user_id");
CREATE INDEX "mentorship_mentorshipoffer_mentor_id_64c724b2" ON "mentorship_mentorshipoffer" ("mentor_id");
CREATE INDEX "mentorship_mentorshipapplication_applicant_id_4dcf8fd0" ON "mentorship_mentorshipapplication" ("applicant_id");
CREATE INDEX "mentorship_mentorshipapplication_mentorship_offer_id_aff93818" ON "mentorship_mentorshipapplication" ("mentorship_offer_id");
CREATE INDEX "pricing_subscriptionpurchase_plan_id_737e356c" ON "pricing_subscriptionpurchase" ("plan_id");
CREATE INDEX "pricing_subscriptionpurchase_user_id_9bb9e5f8" ON "pricing_subscriptionpurchase" ("user_id");
CREATE INDEX "products_productsale_buyer_id_201835bf" ON "products_productsale" ("buyer_id");
CREATE INDEX "products_productsale_product_id_5c6be46e" ON "products_productsale" ("product_id");
CREATE INDEX "products_productsale_seller_id_df9e0632" ON "products_productsale" ("seller_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "transactions_notification_user_id_3c684343" ON "transactions_notification" ("user_id");
CREATE UNIQUE INDEX "products_product_gallery_images_product_id_productimage_id_218e1fe3_uniq" ON "products_product_gallery_images" ("product_id", "productimage_id");
CREATE INDEX "products_product_gallery_images_product_id_b78d62be" ON "products_product_gallery_images" ("product_id");
CREATE INDEX "products_product_gallery_images_productimage_id_f4181619" ON "products_product_gallery_images" ("productimage_id");
CREATE UNIQUE INDEX "site_core_category_name_category_type_195c6ff3_uniq" ON "site_core_category" ("name", "category_type");
CREATE INDEX "courses_course_instructor_id_5b0643dc" ON "courses_course" ("instructor_id");
CREATE INDEX "courses_course_category_id_d64b93bf" ON "courses_course" ("category_id");
CREATE INDEX "jobs_job_posted_by_id_9b3eb7ca" ON "jobs_job" ("posted_by_id");
CREATE INDEX "jobs_job_category_id_fd8331ed" ON "jobs_job" ("category_id");
CREATE INDEX "products_product_seller_id_07afb1e3" ON "products_product" ("seller_id");
CREATE INDEX "products_product_category_id_9b594869" ON "products_product" ("category_id");
COMMIT;
